.login-form-container {
    width: 20rem;
    margin: 0 auto;
    margin-top: 12rem;
}

.login-form-container h3 {
    text-align: center;
}

.login-form input,
.submit-btn {
    width: 100%;
    padding: 0.5rem;
    margin: 0.2rem;
}

.submit-btn {
    font-size: 1rem;
}

.submit-btn:hover,
.submit-btn:active {
    color: white;
    background: black;
    cursor: pointer;
}

.validation-error {
    color: red;
    padding: 0.5rem;
}